body{
	width: 85%;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:-webkit-linear-gradient(left, #4c837e,#f16d79);
	cursor: default;
}
.container{
	margin-top: 150px;
	margin-left: 150px;
	width: 400px;
	height: 570px;
	background-color: rgba(0,0,0,0.2);
	display: flex;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4), 0 15px 12px rgba(0, 0, 0, 0.22);
}
h1{
	margin-left: 55px;
	color:#fbf5f5cf;
	margin-block-start: 10px;
    margin-block-end: 10px;
}
.input, .date{
	width: 365px;
	height: 20px;
	margin: 0 0 10px 11px;
	background-color: rgba(255 255 255 / 87%);
	border-radius: 7px;
}
label{
	font-weight: bolder;
	margin: 0 0 0px 11px;
}
.radio{
	margin: 3px 0px 10px 20px;
}
.sex{
	margin: 0px 20px 10px 0px;
}
.date{
	margin: 10px 0px 10px 20px;
	width: 240px;
	height: 25px;
}
textarea{
	width: 365px;
	height: 50px;
	margin: 0 0 10px 11px;
	background-color: rgba(255 255 255 / 87%);
	border-radius: 7px;
}
.button{
	width: 270px;
	height: 40px;
	margin: 0 0 10px 59px;
	border-radius: 50px;
	border:0px;
	font-weight: bolder;
	font-size: 18px;
	background:-webkit-linear-gradient(left, #4c837e,#f16d79);	
	
}
.button:hover{
background:-webkit-linear-gradient(left,#f16d79, #4c837e);
}